<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
    <input type="file" name="thumbnail" placeholder="enter the thumbnail"><br><br>
    <input type="file" name="photos" placeholder="enter the photos"><br><br>>
    <input type="text" name="description" placeholder="enter the description"><br><br>>
    <input type="text" name="views" placeholder="enter the views"><br><br>>
    <input type="text" name="channel" placeholder="enter the channel"><br><br>
    <input type="text" name="uploaded" placeholder="enter the channel"><br><br>
 
    <input type="submit" name="submit" ><br><br>
    </form>

</body>
</html>